<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443256018459-kas18epdauac7obl9d4gs5febjstg9kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443256018459-kas18epdauac7obl9d4gs5febjstg9kl</string>
	<key>API_KEY</key>
	<string>AIzaSyDBh3gA63sLVnqjfGypatCu_VGFWeOTVU0</string>
	<key>GCM_SENDER_ID</key>
	<string>443256018459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cricozy.app</string>
	<key>PROJECT_ID</key>
	<string>cricozy-68c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>cricozy-68c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443256018459:ios:6d5b938f0b20be6def4abe</string>
</dict>
</plist>